<span class="menuTitle sectionTitle">Sobre os Noivos</span>
<div id="aboutSection" class="pageSection" ng-controller="AboutController">
    <p class="menuTitle title">A noiva</p>
    <p>Meu estágio começou no TRT em 2010. Uma das primeiras pessoas que me cumprimentou foi o João 
    Paulo. Estendeu-me a mão, com um jeito tímido, e me desejou boas vindas. Estava diante do meu futuro 
    marido e não sabia. Desde o início o admirava pelo empenho com o trabalho, mas não passava disso. 
    Aos poucos, a amizade foi crescendo. Com um ano de convivência, o sentimento dele por mim mudou. 
    Resisti. Não queria. Não acreditava que daria certo. Após suas insistências, cedi, baixei a guarda e me dei 
    a chance de viver o momento. Descobri um João Paulo engraçado e brincalhão, criativo ao máximo com 
    suas piadinhas, dono da risada mais espontânea que existe. Pé no chão, sabe o que faz. De vez em 
    quando, convencido (tem até apelido de Brad Pitt no trabalho!). O sono é a melhor companhia (perdi!). 
    Calmo e teimoso. Não sabe fazer mala de viagem. Uma memória invejável, mas bem seletiva. O meu 
    porto seguro! Carinhoso, protetor, cúmplice de todos os meus sonhos e eu gosto disso!! Dono de um 
    coração que só carrega o bem, que não guarda rancor e que é capaz de fazer mais pelos outros do que 
    para si mesmo. Admiro o que conquistou na vida. Sou a primeira incentivadora de todos os seus 
    objetivos. Sei que é capaz de conseguir o que quiser.</p>
    <p>Nesses quase cinco anos de namoro, passamos por muitas coisas juntos. A maior parte delas foram 
    coisas boas, outras nem tanto. Mas as dificuldades foram necessárias para termos ainda mais certeza de 
    que queríamos estar juntos e que, ao longo de nossa história, construímos nossa base de respeito, 
    amor, muita conversa e companheirismo. Era o velho clichê: estarei com você para o que der e vier. 
    Cresci com você. Aprendi a acreditar que sou capaz de conseguir o que quiser. Aprendi também, com o 
    tempo, a gostar dos defeitos. E eu recebo você, com muito amor, até pelos seus defeitos!! O nosso dia 
    está chegando, ansiosa para viver ao seu lado e continuar construindo nossa história, que é linda em 
    todos os sentidos.</p>
    <p>Com amor, Márcia</p>
    <p class="menuTitle title">O noivo</p>
    <p>A participação de um na vida do outro sempre requer afinidades. No entanto,
    um casal precisa de muito mais – não basta a boa companhia, a pele macia, o 
    bom perfume ou os cabelos macios. É preciso muito amor para superar os 
    obstáculos e a cada dia renovar o amor, dando mostras de que é este o 
    sentimento que há entre ambos. Por isso, a escolha de você, Linda, não foi ao 
    acaso, foi porque o meu coração sentiu, o meu corpo quis e o meu cérebro 
    referendou.</p>
    <p>A nossa história começou sem você acreditar muito; penso que duvidava do 
    meu poder de sedução, só precisei da aceitação de um convite para sairmos: 
    era noite chuvosa e você estava Linda como sempre; diferente do  ambiente de 
    trabalho, em que se apresentava uma menina meiga, você se revelou uma 
    mulher poderosa. Dentro de mim, já não havia dúvidas da escolha, só que o 
    caminho ainda era longo, sabia das suas inseguranças e tinha que demonstrar-
    lhe que eu era a pessoa certa . </p>
    <p>Passado o momento inicial em que pudemos nos conhecer bem e tornar o 
    relacionamento sério, você não parou de me surpreender com sua 
    personalidade – doce e meiga, mas decidida e persistente.</p>
    <p>Demonstrou, pois, ser muito mais do que eu esperava e que iria me completar 
    na busca de nossos sonhos, em especial no de formar uma família.</p>
    <p>Com você aprendi a ser mais confiante e direto nas minhas escolhas, aprendi a 
    gostar daquilo que nem me dignava a experimentar; aprendi que a felicidade é 
    para hoje e não para o futuro .</p>
    <p>Nossas conquistas e sonhos serão compartilhados, tanto quanto nossos 
    desafios. Espero ansioso para ter você ao meu lado todos os dias para que 
    compartilhemos juntos as nossas vidas, com o amor de sempre, o 
    companheirismo  costumeiro e com a  paixão  do primeiro beijo - com coração 
    disparado e o corpo trêmulo.....</p>
    <p>Com amor, João Paulo.</p>
</div>