<span class="menuTitle sectionTitle">Na barra do vestido</span>
<div id="dressSection" class="pageSection" ng-controller="DressController">
    <p class="boldTitle">ATENÇÃO AMIGAS SOLTEIRAS QUE ESTÃO A PROCURA DE UM GRANDE AMOR!!!</p>
    <p>Reza a lenda que as mulheres que tiverem o nome escrito na barra do vestido da noiva serão as 
    próximas a se casarem, além de trazer bons fluidos para a noiva. Portanto, aquelas que tiverem 
    interesse, terei o maior prazer e carinho em colocar seu nome na barra do meu vestido!</p>
    <p>É só deixar o nome na mensagem aos noivos , enviar um whatsapp ou um email para: 
    marcinhadefaria@hotmail.com , até o dia 20/06/2016. =)</p>
    <p>Agora é a hora, meninas!!</p>
    <p>Beijos da noiva...</p>    
    <img class="col-xs-12 col-sm-12 col-md-12 col-lg-12" src="../images/dress.jpg" />
</div>