<span class="menuTitle sectionTitle">Página Inicial</span>
<div id="homeSection" class="pageSection" ng-controller="HomeController">
    <slider images="images"/>
</div>
<div id="homeInformation" class="pageSection">
    <p>Queridos familiares e amigos, bem- vindos ao nosso site de casamento! O grande dia está chegando!!!!
    É com muita alegria que vamos dividir esse momento tão especial com vocês!! Resolvemos dizer o “sim” 
    perante Deus,  com vocês ao nosso lado abençoando a nossa união.</p>
    <p>Esperamos que seja uma noite 
    muita linda e inesquecível. Contamos com a presença de vocês para nosso dia ser completo!
    Favor confirmar a presença!
    Agradecemos o carinho e amizade de todos!</p>
    <p>Beijos, Márcia e João Paulo.</p>
    <em>“Deus mudou o teu caminho até juntares com o meu e guardou a tua vida separando-a para mim. Para 
    onde fores, irei; onde tu repousares, repousarei. Teu Deus será o meu Deus. Teu caminho o meu será.” 
    (Rute 1:16-17)</em>
</div>