<span class="menuTitle sectionTitle">Daminhas e Pajens</span>
<div id="squiresSection" class="pageSection" ng-controller="SquiresController">
    <div id="squiresSection" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>O tradicional cortejo de damas e pajens em casamentos teve origem na Idade Média, quando as 
        crianças vestiam suas melhores roupas para esperar a chegada da noiva na entrada da vila. Ao avistarem 
        a carroça, colhiam flores, avisavam aos moradores sobre o início da cerimônia e corriam para a igreja. 
        Na época, era costume crianças e convidados levarem os noivos ao altar.
        Já ouvimos várias lendas sobre essa tradição... Alguns dizem que damas de honra devem acompanhar a 
        noiva até o altar com a missão de distrair os maus espíritos que querem impedir o casamento. 
        Acreditamos que as crianças são anjos e significam pureza!! No entanto, seja qual for o significado, 
        estamos imensamente felizes em poder compartilhar nosso Grande Dia com anjinhos tão amados por 
        nós.</p> 
        <p>Rafa, Pedro, Miguel, Samuel e Bernardo, obrigado por aceitarem nosso convite!</p>
        <p>Beijos, Tio João Paulo e Tia Márcia.</p>
    </div>
    <div id="squiresImages" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class=" squireImageContainer col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1 class="cursiveTitle">Bernardo</h1>
            <img src="../images/pajem1.jpg" />
        </div>
        <div class=" squireImageContainer col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1 class="cursiveTitle">Miguel</h1>
            <img src="../images/pajem2.jpg" />
        </div>
        <div class=" squireImageContainer col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1 class="cursiveTitle">Pedro</h1>
            <img src="../images/pajem3.jpg" />
        </div>
        <div class=" squireImageContainer col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1 class="cursiveTitle">Rafa</h1>
            <img src="../images/pajem4.jpg" />
        </div>
        <div class=" squireImageContainer col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h1 class="cursiveTitle">Samuel</h1>
            <img src="../images/pajem5.jpg" />
        </div>
    </div>
</div>